@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* width: 100vw; */
  /* height: 100vh; */
  --bg-white-color: hsl(0, 0%, 100%);
  --main-font-color: hsl(210, 13%, 15%);
  --main-bg-color: hsl(210, 17%, 34%);
  --main-bg-color2: hsl(0deg 4% 84%);
  --card-bg-color: hsl(210, 28%, 93%);
  --card-hover-bg-color: hsl(210, 28%, 90%);
  --main-bg-hover-color: hsl(210, 17%, 30%);
}

body {
  min-height: 100%;
  display: flex;
  font-size: 14px;
  color: var(--main-font-color);
  flex-direction: column;
}

.btn {
  min-width: 100px;
  border-radius: 5px;
}

body.bg-color-2 {
  background-color: var(--main-bg-color2);
}

*:focus {
  outline-width: thin !important;
  outline-style: dashed !important;
}

.main-header {
  padding: 10px;
  background-color: var(--main-bg-color);
}
.app-name {
  font-size: 1.3em;
  font-weight: bold;
}

.h3 {
  font-size: 1.1em;
}

.btn--primary {
  background-color: var(--main-bg-color);
  color: var(--bg-white-color);
}

.btn--primary .c-icon {
  fill: var(--bg-white-color);
}

.btn--primary:hover {
  background-color: var(--main-bg-hover-color);
}

.form-card {
  position: relative;
  max-width: 200px;
  min-width: 200px;
}

.new-form-card {
  min-height: 100px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  color: var(--main-bg-color);
}

.new-form-card:hover {
  background-color: var(--card-hover-bg-color);
}

.c-icon {
  fill: var(--main-font-color);
}

input[type='radio'] {
  width: 20px;
  height: 20px;
}

input[type='checkbox'] {
  width: 17.5px;
  height: 17.5px;
}

.delete-question-button {
  @apply hidden;
}

.tabs > div:nth-child(2) {
  background-color: var(--bg-white-color);
}

.setup--question-item:hover .delete-question-button,
.setup--question-item:focus-within .delete-question-button {
  display: initial;
}

.form-setup-panel {
  background-color: var(--bg-white-color);
}

.form-actions {
  position: sticky;
  top: 0;
  z-index: 3;
}

.form-setup-panel .question-selection-type.preview:hover {
  @apply bg-gray-200;
}

.question-selection-type:not(.preview) .question-selection-type-inputs {
  overflow-x: auto;
  max-width: calc(100vh - 2rem);
}

.question-selection-type.preview label input ~ div {
  flex-basis: 100%;
}

.new-form-card .icon {
  fill: var(--main-bg-color);
}

.word-break-all {
  word-break: break-all;
}

@media (min-width: 768px) {
  .margin-page {
    padding-right: calc(5% - 30px);
    padding-left: calc(5% - 30px);
  }
}

@media (max-width: 500px) {
  .delete-question-button {
    display: initial;
  }
}
